body {
    background-color: white;
}

#clock {
    position: relative;
    width: 750px;
    height: 750px;
}

#clock img {
    position: absolute;
    top: 75px;
    left: 75px;
}

#face {
    z-index: 0;
    margin: -50px;
    padding: 0px;
    border: 50px solid black;
    border-radius: 500px;
}

#hour {
    z-index: 1;

}

#minute {
    z-index: 2;
}

#second {
    z-index: 3;
    transition: all 500ms cubic-bezier(0.875, -0.395, 0.870, 1.525);
    transition-timing-function: cubic-bezier(0.875, -0.395, 0.870, 1.525);
}

.container {
    max-width: 750px;
    margin: 50px auto;
    background-color: lightgrey;
    border: 5px solid black;
    border-radius: 50px;
}
